<% breadcrumb :new_edition %>
<div class="container">
<h1>Add a new game</h1>
<hr>
	<%= form_for @edition, :html => {:class => "form-horizontal"} do |f| %>
<div class="col-md-3">
		<div class="form-group">
			<h6>Add a cover image for this game edition</h6>
			<div >
				<%= f.file_field :coverart  %>
			</div>
		</div>
		<div class="bs-callout bs-callout-warning">
			<h4>Guidelines</h4>
			<ul>
			<li>Be careful about duplicates. Search if the game edition you are trying to add is not already in our library.</li>
			<li>The game info is about every edition of this game (in multiple platforms), while the edition info is exclusive to this edition</li>
			</ul>
		</div>
</div>
<div class="col-md-9">
	<h3>Game edition info</h3>
	<h6>Information related to this edition: medium, developer, publisher</h6>
		<div class="form-group">
			<%= f.label :title, "Title:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<%= f.text_field :title, :required => true, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :developer, "Developer:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<%= f.text_field :developer, :required => true, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :publisher, "Publisher:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<%= f.text_field :publisher, :required => true, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :description, "Description:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<%= f.text_area :description, :cols => 40, :rows => 20, :required => true, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :release_date, "Release date:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<%= f.date_field :release_date, :required => true, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :platform_id, "Platform:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<div class="ui-select">
					<%= f.collection_select :platform_id, Platform.order(:priority,:display_title),:id,:display_title, {}, :class => "form-control" %>
				</div>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :region_id, "Region:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<div class="ui-select">
					<%= f.collection_select :region_id, Region.order(:title),:id,:title, {}, :class => "form-control" %>
				</div>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :media_id, "Media:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<div class="ui-select">
					<%= f.collection_select :media_id, Media.order(:title),:id,:title, {}, :class => "form-control" %>
				</div>
			</div>
		</div>
		<div class="form-group">
		<h3>Game info</h3>
		<h6>Original title, characters, awards and setting apply to all editions related to this game.</h6>
		</div>
		<%= fields_for @work do |w| %>
		<div class="form-group">
			<%= w.label :title, "Original title:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<%= w.text_field :original_title, :required => true, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= w.label :original_release_date, "Original release date:", :class => "col-lg-3 control-label" %>
			<div class="col-lg-8">
				<%= w.date_field :original_release_date, :required => true, :class => "form-control" %>
			</div>
		</div>
		<% end %>
		<div class="form-group">
			<label class="col-md-3 control-label"></label>
			<div class="col-md-8">
				<input type="submit" class="btn btn-primary" value="Save Changes">
				<span></span>
				<input type="reset" class="btn btn-default" value="Cancel">
			</div>
		</div>
	<% end %>
</div>
</div>
