<% breadcrumb :edition, @edition %>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<%= image_tag @edition.coverart.url(:medium) %>
	</div>
	<div class="col-sm-9">
		<h1><%= @edition.title %>
		<small><%= @edition.platform.display_title %></small></h1>

		<%= simple_format(@edition.description) %></p>
	</div>
</div>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<ul class="list-group">
		<li class="list-group-item text-right"><span class="pull-left"><strong>Original title:</strong></span> <%= @edition.work.original_title %></li>
		<li class="list-group-item text-right"><span class="pull-left"><strong>Original release date:</strong></span> <%= @edition.work.original_release_date.strftime('%d/%m/%Y') %></li>
		<li class="list-group-item text-right"><span class="pull-left"><strong>Developer:</strong></span> <%= @edition.developer %></li>
		<li class="list-group-item text-right"><span class="pull-left"><strong>Publisher:</strong></span> <%= @edition.publisher %></li>
		<li class="list-group-item text-right"><span class="pull-left"><strong>Region:</strong></span> <%= @edition.region.title %></li>
		<li class="list-group-item text-right"><span class="pull-left"><strong>Release date:</strong></span> <%= @edition.release_date.strftime('%d/%m/%Y') %></li>
		<li class="list-group-item text-right"><span class="pull-left"><strong>Media:</strong></span> <%= @edition.media.title %></li>
		</ul>
	</div>
	<div class="col-sm-9">
		<%- if @other_editions_count > 0 %>
			<h6>Other editions (<%= @other_editions_count %>)</h6>

			<% @other_editions.each do |other| %>
				<%= link_to other do %>
					<%= image_tag other.coverart.url(:thumb) %>
				<% end %>
			<% end %>
		<% end -%>
	</div>
</div>
