<h1>Games Search</h1>

<%= form_for search_path, method: :get do |f| %>
	<p>
	<%= f.label "Search for" %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Go", name: nil %>
	</p>
<% end %>

<ul>
	<% @games.each do |game| %>
		<li>
			<h3>
				<% if game.class.name == 'Expansion' %>
					<%= link_to game.title, [game.edition, game]%>
				<% else %>
					<%= link_to game.title, game%>
				<% end %>
			</h3>
		</li>
	<% end %>
</ul>
