<% content_for :title do %>
<%=@expansion.title%> - Expansion/DLC of <%=@expansion.edition.title%> - <%=@expansion.edition.platform.title%> - Internet Video Game Library
<% end %>

<% breadcrumb :expansion, @expansion %>
<div class="row" class="center-block">
	<div class="col-sm-3">
		<div class="container-fluid">
			<div class="row">
				<%= image_tag @expansion.coverart.url(:medium), alt: "Cover art of #{@expansion.title} - #{@expansion.edition.platform.display_title}" %>
			</div>
			<% if current_user.present? %>
				<div class="row">
					<div class="col-sm-10" style="padding-left:0; padding-right:0;">
						<%= add_link_to_game_shelf current_user, @expansion, html_role: "button", checked_html_class: "btn btn-default btn-block", unchecked_html_class: "btn btn-primary btn-block", :unchecked_title => "Add to Wishlist" %>
					</div>
					<div class="col-sm-2" style="padding-left:0; padding-right:0;">
						<button type="button" class="btn btn-primary btn-block" value="+" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							+
							<span class="caret"></span>
						</button>
						<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
							<li role="presentation">
								<%= add_link_to_game_shelf current_user, @expansion, shelf_type: :wishlist, html_role: "menuitem", html_tabindex: "-1" %>
							</li>
							<li role="presentation">
								<%= add_link_to_game_shelf current_user, @expansion, shelf_type: :backlog, html_role: "menuitem", html_tabindex: "-1" %>
							</li>
							<li role="presentation">
								<%= add_link_to_game_shelf current_user, @expansion, shelf_type: :playing, html_role: "menuitem", html_tabindex: "-1" %>
							</li>
							<li role="presentation">
								<%= add_link_to_game_shelf current_user, @expansion, shelf_type: :played, html_role: "menuitem", html_tabindex: "-1" %>
							</li>
							<li role="presentation">
								<%= add_link_to_game_shelf current_user, @expansion, shelf_type: :finished, html_role: "menuitem", html_tabindex: "-1" %>
							</li>
						</ul>
					</div>
				</div>
			<% end %>
			<div class="row">
				<ul class="list-group">
					<li class="list-group-item text-center"><strong>Game expansion information</strong></li>
					<%- if @expansion.release_date.present? %>
						<li class="list-group-item text-right"><span class="pull-left"><strong>Release date:</strong></span> <%= @expansion.release_date.strftime('%d/%m/%Y') %></li>
					<% end -%>
				</ul>
			</div>
			<%- if current_user.present? and current_user.admin? %>
				<div class="row">
					<%= link_to "Edit this expansion", edit_edition_expansion_path(@edition, @expansion) %>
				</div>
			<% end -%>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="container-fluid">
			<div class="row">
				<h1><%= @expansion.title %>
				<small><%= @edition.platform.display_title %></small></h1>
			</div>

			<div class="row">
				<%= @description %>
			</div>
		</div>
	</div>
</div>
