<% content_for :title do %>
<%=@expansion.title%> - Expansion/DLC of <%=@expansion.edition.title%> - <%=@expansion.edition.platform.title%> - Internet Video Game Library
<% end %>

<% breadcrumb :expansion, @expansion %>
<div class="row" class="center-block">
	<div class="col-sm-3">
		<div class="container-fluid">
			<div class="row">
				<%= image_tag @expansion.coverart.url(:medium), alt: "Cover art of #{@expansion.title} - #{@expansion.edition.platform.display_title}" %>
			</div>
			<% if current_user.present? %>
				<%= add_shelf_dropdown current_user, @user_shelves, @expansion, :no_margin => false %>
			<% end %>
			<div class="row">
				<ul class="list-group">
					<li class="list-group-item text-center"><strong>Game expansion information</strong></li>
					<%- if @expansion.release_date.present? %>
						<li class="list-group-item text-right"><span class="pull-left"><strong>Release date:</strong></span> <%= @expansion.release_date.strftime('%d/%m/%Y') %></li>
					<% end -%>
				</ul>
			</div>
			<%- if current_user.present? and current_user.game_maker_or_more? %>
				<div class="row">
					<%= link_to "Edit this expansion", edit_edition_expansion_path(@edition, @expansion) %>
				</div>
			<% end -%>
			<%- if current_user.present? and current_user.admin? %>
				<div class="row">
					<%= button_to "Delete this expansion", [@edition, @expansion], method: :delete, style: "color:red" %>
				</div>
			<% end -%>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="container-fluid">
			<div class="row">
				<h1><%= @expansion.title %>
				<small><%= @edition.platform.display_title %></small></h1>
			</div>

			<div class="row">
				<%== GitHub::Markdown.render_gfm(@description) %>
			</div>
		</div>
	</div>
</div>
