<% breadcrumb :combine, @work %>

<%= form_for @work, :url => do_combine_work_path, :html => {:class => "form-horizontal"} do |f| %>
	<div class="col-md-3">
		<div class="bs-callout bs-callout-warning">
			<h4>Guidelines</h4>
			<p><strong>Do combine:</strong></p>
			<ul>
				<li>Old games being reedited in new platforms (i.e. Nintendo Virtual Console)</li>
				<li>Different regions of the same game (North America release and European release)</li>
			</ul>
			<p><strong>Don't combine:</strong></p>
			<ul>
				<li>N-in-1 games or boxed sets that include the given game.</li>
				<li>Adaptations that change stuff in the game (i.e. Pokémon Red vs FireRed)</li>
			</ul>
			<p><strong>Be aware:</strong> you can only combine games in which the original info (title and release date) are the same. Make sure this data is consistent so that you can combine.</p>
		</div>
	</div>
	<div class="col-md-9">
		<div class="form-group">
			<div class="checkbox">
				<label>
					<%= check_box_tag "work_ids[]", @work.id, false, :id => "work_id_#{@work.id}" %> <strong><%= @work.original_title %></strong><%- if @work.original_release_date.present? %>  (<%=@work.original_release_date.strftime('%d/%m/%Y') %>) <% end -%>
				</label>
				<% @work.editions.each do |e| %>
					<div>
						<%= e.title %> (<%= e.platform.title %>), released on <%= e.release_date.strftime('%d/%m/%Y') %> at <%= e.region.title %> <%= link_to 'details', e %> <%= link_to 'edit', edit_edition_path(e) %>
					</div>
				<% end %>
			</div>
			<% @same_work_data.each do |s| %>
				<div class="checkbox">
					<label>
						<%= check_box_tag "work_ids[]", s.id, false, :id => "work_id_#{s.id}" %> <strong><%= s.original_title %></strong><%- if s.original_release_date.present? %> (<%=s.original_release_date.strftime('%d/%m/%Y')%>) <% end -%>
					</label>
					<% s.editions.each do |e| %>
						<div>
							<%= e.title %> (<%= e.platform.title %>), released on <%= e.release_date.strftime('%d/%m/%Y') %> at <%= e.region.title %> <%= link_to 'details', e %> <%= link_to 'edit', edit_edition_path(e) %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Combine">
			<span></span>
			<input type="reset" class="btn btn-default" value="Cancel">
		</div>
	</div>
<% end %>
