<% content_for :title do %>
All editions for <%=@work.original_title%>, <% if @work.original_release_date.present? %> originally released in <%= @work.original_release_date.strftime('%d/%m/%Y')%><% end %> - Internet Video Game Library
<% end %>
<% breadcrumb :work, @work %>

<div class="page-header">
	<h1><%= @work.original_title %><% if @work.original_release_date.present? %> <small>originally released in <%= @work.original_release_date.strftime('%d/%m/%Y')%></small><% end %></h1>
</div>
<div class="container-fluid">
	<%- if current_user.present? and current_user.game_maker_or_more? %>
		<div class="row">
			<%= link_to "Add new edition", new_edition_path(:work_id => @work) %>
			|
			<%= link_to "Combine", combine_work_path(@work) %>
			|
			<%= link_to 'Split', split_work_path(@work) %>
		</div>
	<% end -%>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-9">
			<% @editions.each do |e| %>
				<div class="media">
					<%= link_to(e, :class => 'media-left media-middle', :style => 'width:100px') do %>
						<%= image_tag e.coverart.url(:thumb), alt: "Cover art of #{e.title} - #{e.platform.display_title}"  %>
					<% end %>
					<div class="media-body">
						<h4 class="media-heading"><%= link_to(e) do %><%= e.title %> (<%= e.platform.display_title %>)<% end %></h4>
						Released on <%= e.release_date.strftime('%d/%m/%Y') if e.release_date.present? %> at <%= e.region.title %><br />
						<%= link_to 'details', e %>
						<%- if current_user.present? and current_user.game_maker_or_more? %>
							| <%= link_to 'edit', edit_edition_path(e) %>
						<% end -%>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= will_paginate @editions, renderer: BootstrapPagination::Rails %>
