= turbo_frame_tag("shelf_interaction_#{game.class.name}_#{game.id}") do
  %div.field.has-addons
    %div.control
      - if main_shelf_item.present? && item_on_shelf?(main_shelf_item, wishlist_shelf)
        = form_tag href_user_game_shelf_path(user, main_shelf_item.game_shelf, game, main_shelf_item), method: :put do |f|
          = button_tag main_shelf_item.game_shelf.title, class: "button is-small"
      - else
        = form_tag href_user_game_shelf_path(user, wishlist_shelf, game, main_shelf_item), method: :put do |f|
          = button_tag "Add to Wishlist", class: "button is-primary is-small"

    %div.control
      %div.dropdown.is-hoverable
        %div.dropdown-trigger
          %button.button.is-small{ aria: { haspopup: true, controls: "dropdown-menu-#{game.class.name}-#{game.id}" } }
            %span
              +
            %span.icon.is-small
              %i.fa.fa-angle-down{ aria: { hidden: true } }
        %div.dropdown-menu{ id: "dropdown-menu-#{game.class.name}-#{game.id}", role: "menu" }
          %div.dropdown-content
            - shelves.each do |shelf|
              - next if shelf == main_shelf_item&.game_shelf
              %div.dropdown-item
                - if shelf.custom_shelf?
                  = form_tag href_user_game_shelf_path(user, shelf, game, other_shelf_items[shelf.id]), method: :put do |f|
                    = button_tag class: "button is-ghost is-small" do
                      - if shelf.custom_shelf? and other_shelf_items[shelf.id].present?
                        %span.icon
                          %i.fa.fa-check-square-o
                      %span= shelf.title
                - else
                  = form_tag href_user_game_shelf_path(user, shelf, game, main_shelf_item), method: :put do |f|
                    = button_tag shelf.title, class: "button is-ghost is-small"
