<div class="col-md-2 col-sm-3 col-xs-6 word-break">
	<div class='thumbnail text-center'>
	<%= link_to(edition) do %>
		<%= image_tag edition.coverart.url(:medium), alt: "Cover art of #{edition.title} - #{edition.platform.display_title}" %>
		<%= edition.title %> - <%= edition.platform.display_title %><br />
	<% end %>
	<% if current_user.present? %>
		<div class="row" style="
		    margin-right: 0px;
			    margin-left: 0px;
				">
			<div class="col-sm-9" style="padding-left:0;padding-right:0;">
				<%= add_link_to_game_shelf current_user, edition, html_role: "button", checked_html_class: "btn btn-default btn-sm btn-block", unchecked_html_class: "btn btn-sm btn-primary btn-block", :unchecked_title => "Add to Wishlist" %>
			</div>
			<div class="col-sm-3" style="padding-left:0;padding-right:0;">
				<button type="button" class="btn btn-primary btn-sm btn-block" value="+" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					+
					<span class="caret"></span>
				</button>
				<%= add_shelf_dropdown current_user, edition %>
			</div>
		</div>
	<% end %>
	</div>
</div>

