<%= form_for @work, :url => {:action => :do_combine}, :html => {:class => "form-horizontal"} do |f| %>
	<div class="col-md-3">
		<div class="bs-callout bs-callout-warning">
			<h4>Guidelines</h4>
			<p><strong>Do combine:</strong></p>
			<ul>
				<li>Old games being reedited in new platforms (i.e. Nintendo Virtual Console)</li>
				<li>Different regions of the same game (North America release and European release</li>
			</ul>
			<p><strong>Don't combine:</strong></p>
			<ul>
				<li>N-in-1 games or boxed sets that include the given game.</li>
				<li>Adaptations that do new things to the game (i.e. Pokémon Red vs FireRed)</li>
			</ul>
			<p><strong>Be aware:</strong> you can only combine games in which the original info (title and release date) are the same. Make sure this data is consistent so that you can combine.</p>
		</div>
	</div>
	<div class="col-md-9">
		<div class="checkbox">
			<label>
				<%= check_box_tag :edition, @work.id %> <%= @work.original_title %> (<%=@work.original_release_date.strftime('%d/%m/%Y')%>)
			</label>
			<% @work.editions.each do |e| %>
				<div>
					<%= e.title %> (<%= e.platform.title %>), released on <%= e.release_date.strftime('%d/%m/%Y') %> at <%= e.region.title %> <%= link_to 'details', e %>
				</div>
			<% end %>
		</div>
		<% @same_work_data.each do |s| %>
		<div class="checkbox">
			<label>
				<%= check_box_tag :edition, s.id %> <%= s.original_title %> (<%=s.original_release_date.strftime('%d/%m/%Y')%>)
			</label>
			<% s.editions.each do |e| %>
				<div>
					<%= e.title %> (<%= e.platform.title %>), released on <%= e.release_date.strftime('%d/%m/%Y') %> at <%= e.region.title %> <%= link_to 'details', e %>
				</div>
			<% end %>
		</div>
		<% end %>
	</div>
<% end %>
