<% content_for :title do %>
All games - <% if params[:page] %> page <%= params[:page] %> - <% end %>Internet Video Game Library
<% end %>
<% breadcrumb :games %>
<div class="row bottom-buffer">
	<div class="col-lg-6">
		<%= form_tag games_path, :method => "get", :class => "form-inline" do %>
			<div class="form-group">
				<%= select_tag(:platform, options_for_select(@platforms, params[:platform]), :class=>"form-control") %>
			</div>
			<%= button_tag("Go", :class=>"btn-default btn") %>
		<% end %>
	</div>
</div>
<div class="row">
	<% @games.each_with_index do |game, i| %>
		<%- if i > 0 && ( (i % 6 == 0) || (i % 4 == 0) || (i % 2 == 0) )%>
			<div class="clearfix<%- if (i % 6 == 0) %> visible-md visible-lg<% end -%><%- if (i % 4 == 0) %> visible-sm<% end -%><%- if (i % 2 == 0) %> visible-xs<% end-%>"></div>
		<% end -%>
		<%= render partial: "shared/games_index_view_object", locals: {game: game, user_shelves: @user_shelves} %>
	<% end %>
</div>
<%= will_paginate @page_object, renderer: BootstrapPagination::Rails %>
<%- if current_user.present? and current_user.game_maker_or_more? %>
	<%= link_to("Add new game", new_edition_path) %>
	<%= link_to("Import new game", import_editions_path) %>
<% end -%>
