<% content_for :title do %>
Results for "<%= strip_tags params[:q] %>" - <% if params[:page] %> page <%= params[:page] %> - <% end %>Internet Video Game Library
<% end %>
<div class="page-header">
	<h1>Showing <%= @qty %> results (<%= @total %> total) searching for "<%= strip_tags params[:q] %>"</h1>
</div>

<div class="row">
	<% @games.each_with_index do |game, i| %>
		<%- if i > 0 && ( (i % 6 == 0) || (i % 4 == 0) || (i % 2 == 0) )%>
			<div class="clearfix<%- if (i % 6 == 0) %> visible-md visible-lg<% end -%><%- if (i % 4 == 0) %> visible-sm<% end -%><%- if (i % 2 == 0) %> visible-xs<% end-%>"></div>
		<% end -%>
		<%= render partial: "shared/games_index_view_object", locals: {game: game, user_shelves: @user_shelves} %>
	<% end %>
</div>
<%= will_paginate @page_object, renderer: BootstrapPagination::Rails %>
