<div class="page-header">
<h1>Sign in</h1>
<p class="text-muted">You're one step away from keeping info about your collection of games!</p>
<%= devise_error_messages! %>
</div>
<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
		<div class="form-group">
			<%= f.label :email, class: "control-label", for: "user_email" %>
			<%= f.email_field :email, :autofocus => true, class: 'form-control input-lg' %>
		</div>
		<div class="form-group">
			<%= f.label :password, class: "control-label", for: "user_password" %>
			<div class="input-group input-group-lg">
				<%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
				<span class="input-group-btn">
					<button class="btn btn-default btn-password-show" type="button" data-target="#user_password" data-toggle="button" title="Show/Hide Password" tabindex="-1" aria-pressed="false">
						<span class="fa fa-eye"></span>
					</button>
				</span>
			</div>
		</div>
		<div class="controls">
			<%= f.submit 'Sign in', :class => 'btn btn-block btn-lg btn-primary btn-loading', :data => { loading: "Signing in..." }  %>
		</div>
		<div class="form-group">
			<div class="btn-group btn-group-justified form-control-static">
				<%- if devise_mapping.recoverable? %>
					<%= link_to "Forgot password?", new_password_path(resource_name), class: 'btn btn-link btn-xs ellipsis' %>
				<% end -%>
				<%- if devise_mapping.registerable? %>
					<%= link_to 'Create new account', new_registration_path(resource_name), class: 'btn btn-link btn-xs ellipsis' %>
				<% end -%>
			</div>
		</div>
		<legend class="text-muted text-center">or</legend>
		<div class="text-center">
			<%= link_to user_omniauth_authorize_path('google_oauth2'), class: 'btn btn-lg btn-social-icon btn-google-plus', title: "Sign in with Google", rel: "nofollow" do %>
				<i class="fa fa-google-plus"></i>
			<% end %>
			<%= link_to user_omniauth_authorize_path('facebook'), class: 'btn btn-lg btn-social-icon btn-facebook', title: "Sign in with Facebook", rel: "nofollow" do %>
				<i class="fa fa-facebook"></i>
			<% end %>
			<%= link_to user_omniauth_authorize_path('twitter'), class: 'btn btn-lg btn-social-icon btn-twitter', title: "Sign in with Twitter", rel: "nofollow" do %>
				<i class="fa fa-twitter"></i>
			<% end %>
		</div>
		<% if devise_mapping.rememberable? -%>
			<hr>
			<div class="checkbox text-center">
				<label>
					<%= f.check_box :remember_me , class: 'remember'%> Keep me signed in
				</label>
			</div>
		<% end -%>
	<% end %>
</div>
