<%# add navigation links to this file %>
<% if user_signed_in? %>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> <%= current_user.name.present? ? current_user.name : "Logged in" %>  <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<%= active_link_to user_game_shelves_path(current_user), :wrap_tag => :li do %> <i class="fa fa-book"></i> My games<% end %>
			<%= active_link_to edit_user_registration_path, :wrap_tag => :li do %> <i class="fa fa-edit"></i> Edit account <% end %>
			<%= active_link_to destroy_user_session_path, :method=>'delete', :wrap_tag => :li do %> <i class="fa fa-sign-out"></i> Sign out <% end %>
		</ul>
	</li>
<% else %>
	<%= active_link_to new_user_session_path, :wrap_tag => :li do %> <i class="fa fa-sign-in"></i> Sign in <% end %>
<% end %>
