!!!
%html
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        Internet Video Game Library
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %meta{ name: "description", content: content_for?(:description) ? yield(:description) : "Internet Video Game Library" }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = favicon_link_tag "favicon.ico"
    %link{ href: "https://cdn.jsdelivr.net/npm/fork-awesome@1.0.11/css/fork-awesome.min.css", rel:"stylesheet", integrity:"sha384-uuYw9QCBRSK1iU8peX/dvpGqv5uv83afJrv7ZBTX8tG7dB+HR6JUDl20dBl30UZO", crossorigin:"anonymous" }
  %body
    .block
      = render "layouts/navigation"
    .container
      %nav.breadcrumb{ aria: { label: "breadcrumbs" } }
        = breadcrumbs style: :bulma, link_current: true
      = turbo_frame_tag "flash_messages" do
        = render "layouts/messages"
      = yield
  %footer.footer
    .container
      %p
        &copy; Internet Video Game Library 2015 |
        = link_to "FAQ", "https://github.com/internetvideogamelibrary/internetvideogamelibrary-website/wiki/FAQ"
        |
        = link_to "About Us", about_path

    = debug(params) if Rails.env.development?
